@model StatusPage.Models.StatusCollectionModel

@{
    ViewData["Title"] = @Model.CollectionName + " Service Details";
}

<div class="row" style="padding-top: 20px">
    <h2 class="hn-category">@Html.Raw(@Model.CollectionName)</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Feature</th>
                <th scope="col">Status</th>
                <th scope="col">Last Update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model.StatusList)
            {
            <tr>
                <td>@service.Service</td>
                <td>@service.StatusDescription</td>
                <td>@service.UpdateDT</td>
            </tr>
            }
        </tbody>
    </table>
</div>